<!-- テンプレート--------------------------------------------------------------------------------------------->
<div class="body">
      <div class="container">

        <p id="notice"></p>

<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>

      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
    <table class="table">
        <tbody>
        <tr>
          <th>name</th>
          <td>
            <%= user.name %>
          </td>
        </tr>
        <tr>
          <th>introduction</th>
          <td>
            <%= user.introduction %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
          <p><%= link_to "", edit_user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
    </div>

      <!--投稿画面---------------------------------------------------------------------------------------------------------------->
        <h2>New book</h2>
        <%= form_for(book) do |f| %>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-icon">
                <label class="control-label">Title</label>
                <br>
                <%= f.text_field :title, class:"form-control", rows:"3" %>
                <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label class="control-label">Opinion</label>
              <br>
              <%= f.text_area :body, class:"form-control", rows:"3" %>
            </div>
          </div>
          <hr>
          <%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
        <% end %>
      </div>
