    <div class="container">
    <h2>Editing Book</h2>
<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= @book.errors.count %>件のerrorが発生しました。</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
    <div class="row">
    <div class="col-sm-12">
      <label class="control-label">Title</label>
      <br>
      <%= f.text_area :title %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label class="control-label">Opinion</label>
      <br>
      <%= f.text_area :body %>
    </div>
  </div>
  <hr>
  <%= f.submit "Update Book" %>
<% end %>

</div>